@using System.Globalization
@model List<Results>
@* TODO FrontEnd and mobile *@
<div id="UpcomingZone">
    <div id="UpcomingZone-container">
        <div id="UpcomingZone-header">
            <header class="d-flex justify-content-between">
                <h3 id="UpcomingZone-title">Nadchodzące    </h3>
                <h3 id="UpcomingZone-paragraph">View All</h3>
            </header>
        </div>
        <div class="row" id="UpcomingZone-content">
            @for (int i = 0; i < 6; i = i + 2)
            {
                <div class="col-4 col-lg-2 upcomingZone-element">
                    <div style="padding: ">
                        <img style="width: 100%" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/@(Model[i].Poster_path)" />
                        <div class="upcomingZone-credits">
                            <div class="upcomingZone-details">
                                <i class="far fa-star"></i>
                                <label>@Model[i].Vote_average</label>
                            </div>
                            <a class="upcomingZone-title">@Model[i].Release_date.ToString("d", CultureInfo.CreateSpecificCulture("pl-PL"))</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-lg-2 d-none d-lg-block upcomingZone-element">
                    <div style="padding: ">
                        <img style="width: 100%" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/@(Model[i + 1].Poster_path)" />
                        <div class="upcomingZone-credits">
                            <div class="upcomingZone-details">
                                <i class="far fa-star"></i>
                                <label>@(Model[i + 1].Vote_average)</label>
                            </div>
                            <a class="upcomingZone-title">@Model[i + 1].Release_date.ToString("d", CultureInfo.CreateSpecificCulture("pl-PL"))</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
