body {
    background-color: black;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid #696969;
}

.navbar-brand {
    font-size: 40px;
}

.navbar-button {
    color: #ad0068;
    border-color: #ad0068;
}

.navbar-button:hover {
    color: #d3d3d3;
    background-color: #ad0068;
}
.navbar-button:focus {
    color: #d3d3d3;
    background-color: #8d0068;
    outline: 5px auto #8d0068;
    -webkit-outline: 5px auto #8d0068;
    -moz-outline: 5px auto #8d0068;
    -ms-outline: 5px auto #8d0068;
    -o-outline: 5px auto #8d0068;
    border: 1px solid #fff;
}
.navbar-nav > li > a {
    padding: 6px 12px;
}