<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Title</a>  
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav" style="display: inline-block" >
            <li style="display: inline-block" class="nav-item active">
                <button class="btn navbar-button my-2 ml-5" type="submit">Filmy</button>              
            </li>
            <li style="display: inline-block" class="nav-item">
                <button class="btn navbar-button my-2 ml-4" type="submit">Seriale</button>
            </li>
        </ul>
    </div>
</nav>
