<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Title</a>  
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <div class="row">
        <ul class="navbar-nav" style="display: inline-block" >
            <li style="display: inline-block" class="nav-item active">
                <a asp-controller="Home" asp-action="Movie" class="btn navbar-button my-2 ml-5">Filmy</a>              
            </li>
            <li style="display: inline-block" class="nav-item">
                <a asp-controller="Home" asp-action="Tv" class="btn navbar-button my-2 ml-4" >Seriale</a>
            </li>
        </ul>
        <div class="ml-auto">
            <ul class="navbar-nav" style="display: inline-block">
                <li style="display: inline-block" class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <LanguageTagHelper></LanguageTagHelper>
                        </div>
                    </div>
                </li>
                <li style="display: inline-block" class="nav-item">
                    <a asp-controller="Home" asp-action="Movie" class="btn navbar-button my-2 ml-5">Login</a>
                </li>
            </ul>
        </div> 
    </div>
    </div>
</nav>
