<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Title</a>  
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav" style="display: inline-block" >
            <li style="display: inline-block" class="nav-item active">
                <a asp-controller="Home" asp-action="Movies" class="btn navbar-button my-2 ml-5">Filmy</a>              
            </li>
            <li style="display: inline-block" class="nav-item">
                <a asp-controller="Home" asp-action="Series" class="btn navbar-button my-2 ml-4" >Seriale</a>
            </li>
        </ul>
    </div>
</nav>
