@model UrlPathRequest

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/ShowAll.css" rel="stylesheet" />
    <title>@ViewBag.Header</title>
</head>
<body>
<div>
    @(await Component.InvokeAsync("Zone", Model.ReturnUrlPath())) 
    @* TagHelper Generujacy wyswietleie strzalki w prawo w lewo a ponizej indexowany pagination gdzie zaczyna sie od 0 ... 17 18 19... 911
        Potrzebne: info o wszystkich stronach,
        aktualnej stronie

        *@
</div>
</body>
</html>